*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

header{
    background-color: #ADD8E6;
    min-height: 485px;
}

nav{
    display: flex;
    align-items: center;
    height: 80px;
    max-width: 991px;
    margin: 0 auto;
}

.row.bk-orange{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    
}

.col-logo{
    background-color: yellow;
    width: 25%;
    height: 50px;
}

.list-item{
    background-color:white;
    width: 50%;
    height: 50px;
}

.bottom-accedi{
    background-color: blue;
    width: 25%;
    height: 50px;
}

.row.bk-blue{
    width: 100%;
    height: 400px;
    display: flex;
    background-color: blue;
    justify-content: center;
    align-items: center;
}

.col.bk-pink{
    width: 40%;
    height: 300px;
    background-color: pink;
}